* {
    font-family: 'Times New Roman', Times, serif;
    /* outline: 2px solid red; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


                                        /*HEADER*/


.header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh;
    margin-top: -2vh;
    margin-left: -0.5vw;
    background-image: url(../purestream/images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: groove;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: lightgreen;

}

.header-logo {
    margin-top: -20px;
}

.header-buttons {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}



                                        /*FOOTER*/

.footer {
    display: flex;
    flex: auto;
    position: static;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: -2vh;
    margin-left: -0.5vw;
    justify-content: space-around;
    align-items: center;
    background-image: url(../purestream/images/footer.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 20vh;
    border-top: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: lightgreen;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-shrink: 1;    
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-right: 15vw;
}