* {
    font-family: 'Times New Roman', Times, serif;
   /* outline: 2px solid red; */
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    margin-top: 20px;
    align-items: center;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-right: 100px;

}