* {
   /* outline: 2px solid red; */
   font-family: 'Times New Roman', Times, serif;
}

.header-text {
    
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.csizmadia {
    background-image: url(../images/plant-9.png);
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
    padding: 15px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.images-img {
    width: 200px;
    height: auto;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    align-items: center;
    background-image: url(../images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

}

.header-logo {
    padding-top: 40px;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-right: 100px;
    padding-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}