* {
   /* outline: 2px solid red; */
   font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



                        /* HEADER */



.header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    height: 20vh;
    margin-top: -2vh;
    margin-left: -1vw;
    background-image: url(../images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: groove;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: lightgreen;

}

.header-logo {
    margin-top: -20px;
}

.header-buttons {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}


                    /* CONTENT */

                    /* 1st CONTENT */


.csizmadia-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0vh;
    }

.csizmadia {
    display: flex;
    flex-wrap: wrap;
    border-style:groove;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 55px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vw;
    padding: 15px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.images-img {
    width: 200px;
    height: auto;

}


                        /* 2nd CONTENT */





                        /* FOOTER */


.footer {
    display: flex;
    flex: auto;
    position: static;
    bottom: 0;
    left: 0;
    width: 99vw;
    margin-top: 5vh;
    margin-bottom: -3vh;
    margin-left: -1vw;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/footer.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 20vh;
    border-top: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: lightgreen;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-shrink: 1;    
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-right: 15vw;
}